body { 
	background-color: #1f1f1f; 
	font-family: verdana, sans serif;
	font-size: 15px;
	color: #c6c6c6;
	margin: 60px 0px 0px 0px;
}

h1 {
	color: #ffad10;
	font-size: 35px;
	margin: 0px;
}

/*Center the button-group*/
.btn-group{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*Hover a Weapon*/
.scissors:hover, .spock:hover, .paper:hover, .lizard:hover, .rock:hover, .scissors.active:hover, .spock.active:hover, .paper.active:hover, .lizard.active:hover, .rock.active:hover{
	border-style:inset;
	border-color:#ffad10;
	background-color: #F2931A;
}

/*Selected Weapon*/
.scissors.active, .spock.active, .paper.active, .lizard.active, .rock.active{
	border-style:outset;
	border-color:#1CBA00;
	background-color: #0F630E;
}

.scissors, .spock, .paper, .lizard, .rock{
	border-style:outset;
	border-width:5px;
	border-color:#1f1f1f;
	display: block;
	width: 150px;
	height: 150px;
	cursor: pointer;
}

.scissors{
   margin-left: auto;
   margin-right: auto;
   margin-bottom: -25px;
 }
 
 .spock {
   margin-left: 20%;
   margin-right: auto; 
   float:left;
 }
 
 .paper {
   margin-left: auto;
   margin-right: 20%; 
   margin-bottom: 25px;
 }
 
 .lizard {
   margin-left: 32%;
   margin-right: auto;
   float:left;
 }
 
 .rock {
   margin-left: auto;
   margin-right: 32%; 
} 

/*Errorwarnings which are shown when a field is not set correctly*/
.error{
	color: red;
	margin-bottom: 10px;
	font-weight: bold;
}

/*
img.btn {
	width: 150px;
	margin-right: 20px;
	margin-bottom: 20px;
}
*/

.link {
	margin-right: 20px;
}

.error{
	color: red;
	margin-bottom: 15px;
	font-weight: bold;
}

.info{
	display: block;
	margin-top: 60px;
	margin-left: 50px;
	margin-right: auto; 
	margin-bottom: 25px;
	color: #ffad10;
	float:left;
	width: 300px;
	height: 70px;
}

img.choice {
	width: 150px;
	margin-right: 20px;
	margin-bottom: 20px;
}


input[type=text] {	
	margin-left: 20px;
}

input[type=radio] {	
	margin-right: 10px;
}

input[type=submit] {	
	margin-top: 20px;
}

fieldset {
	margin-bottom: 40px;
}

textarea.msg {
	width: 400px;
	vertical-align:top;
	margin-left: 20px;
}

input.inline {
	float: left;
	margin-right: 10px;
}

label {
	margin-right: 40px;
}

h1 {
	margin-bottom: 20px;
}

h3 {
	color: grey;
}

h4 {
	margin-bottom: 20px;
	margin-top: 30px;
}

p.navi {
	margin-bottom: 30px;
}

.error {
	color: red;
}

fieldset {
	margin-top: 20px;
}
