body { 
	background-color: #1f1f1f; 
	font-family: verdana, sans-serif;
	font-size: 15px;
	color: #c6c6c6;
	margin: 60px 0px 0px 0px;
}

h1 {
	color: #ffad10;
	font-size: 35px;
	margin: 0px;
}

img.btn {
	width: 150px;
	margin-right: 20px;
	margin-bottom: 20px;
}

input[type=text] {	
	margin-left: 20px;
}

input[type=radio] {	
	margin-right: 10px;
}

input[type=submit] {	
	margin-top: 20px;
}

fieldset {
	margin-bottom: 40px;
}

input.inline {
	float: left;
	margin-right: 10px;
}

label {
	margin-right: 40px;
}

h1 {
	margin-bottom: 20px;
}

h3 {
	color: grey;
}

h4 {
	margin-bottom: 20px;
	margin-top: 30px;
}

p.navi {
	margin-bottom: 30px;
}

.error {
	color: red;
}

fieldset {
	margin-top: 20px;
}
